<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" (click)="mostrar='principal'">MENU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link" href="#" (click)="listardrink()">LISTAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#" (click)="editardrink()">EDITAR</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container fluid">
  <div *ngIf="mostrar ==='principal'"></div>
  <div class="table-responsive" *ngIf="mostrar ==='listar'">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col" *ngFor="let atributo of dataheader"> {{atributo}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataElement">
          <td *ngFor="let atributo of dataheader">
            {{ data[atributo]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mostrar ==='editar'">
    <form>
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-4 col-lg-3" *ngFor="let atributo of dataheader">
          <label for="{{atributo}}" class="form-label">{{atributo}}</label>
          <input type="text" class="form-control" id="{{atributo}}" placeholder="{{atributo}}"
            [value]="dataElement[0][atributo]">

        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-warning">EDITAR</button>
      </div>

      <br>
    </form>

  </div>
</div>